<!DOCTYPE html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Patowmack Divers Home Page</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/PatowmackDivers2/public_html/style.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="icon"
      type="image/ico"
      href="http://patowmackdivers.com/favicon.ico">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="http://www.w3schools.com/lib/w3data.js"></script>
</head>

<body>

<div w3-include-html="navsite.html"></div>


<div class="w3-row w3-border">
   <div class="w3-container w3-light-blue">
   <h1 class="w3-text-shadow w3-center">2018 Meetings</h1>

   <div class="w3-container">
      <h3>DATE</h3>
      <p> MEETING MESSAGE
      <table class="w3-table-all"> <!-- TABLE FOR PICTURES -->
        <tr>
          <img src="/images/2018/201806Gary/DSC02466.JPG"      class="w3-border w3-padding" width=30%>
          <img src="/images/2018/201806Gary/DSC02495.JPG"      class="w3-border w3-padding" width=30%>
          <img src="/images/2018/201806Gary/DSC02679.JPG"      class="w3-border w3-padding" width=30%>
        </tr>
        <tr>
          <img src="/images/2018/201806Gary/DSC02727.JPG"      class="w3-border w3-padding" width=30%>
          <img src="/images/2018/201806Gary/Galapagos Map.jpg"      class="w3-border w3-padding" width=30%>
        </tr>
      </table>
      We will also discuss future club dive trips, including one to the Solomon Islands, home of Guadacanal. 
    </div>


   <div class="w3-container">
        <h3>Wednesday, July 11 at 7:30 pm</h3>
        <p><b>Note the special meeting date, the second Wednesday of July.</b>Our meeting will be at Mylo's (see below for directions).<p>Ed will present some pictures from under the Blue Heron Bridge in West Palm Beach, Florida. In addition, we will stream a PBS program form 2016 on diving under the Blue Heron Bridge. If you've never been there, BHB is great shore diving.</p>
    </div>

    <div class="w3-container">
      <h3>Wednesday, June 6 at 7:30 pm</h3>
      <p> Our meeting will be at Mylo's (see below for directions). Gary will show land and underwater pictures from a recent trip to the Galapagos. 
      <table class="w3-table-all">
        <tr>
          <img src="/images/2018/201806Gary/DSC02466.JPG"      class="w3-border w3-padding" width=30%>
          <img src="/images/2018/201806Gary/DSC02495.JPG"      class="w3-border w3-padding" width=30%>
          <img src="/images/2018/201806Gary/DSC02679.JPG"      class="w3-border w3-padding" width=30%>
        </tr>
        <tr>
          <img src="/images/2018/201806Gary/DSC02727.JPG"      class="w3-border w3-padding" width=30%>
          <img src="/images/2018/201806Gary/Galapagos Map.jpg"      class="w3-border w3-padding" width=30%>
        </tr>
      </table>
      We will also discuss future club dive trips, including one to the Solomon Islands, home of Guadacanal. 
    </div>


    <!--WRAP UP, DO NOT MODIFY BELOW -->    
   </div> <!-- light-blue container -->
</div>  <!-- row border -->


<div w3-include-html="footer.html"></div>

<script>
w3IncludeHTML();
</script>

</body>
</html>

