<!-- most styling is from w3schools.com with w3.css -->

<div class="w3-display-container w3-indigo" style="height:100px">
	<div class="w3-display-topleft">
		<a href="index.html">
		<img height=100px  src=images/patodivr.jpg>
		</a>
	</div>
	<div class="w3-display-topmiddle" >
		<h1 class-"w3-text-shadow"><a href="index.html" style="text-decoration:none">patowmack divers</a></h1>
	</div>
	<div class="w3-display-topright">
		<a href="index.html">
		<img height=100px src=images/patodivr.jpg>
		</a>
	</div>
</div>
<!-- end #header -->

<div id="w3-container">

	<ul class="w3-navbar w3-light-grey">
		<li class="w3-dropdown-hover">
			<a href="index.html">Home</a></li>

		<li class="w3-dropdown-hover">
			<a href="#">Past Meetings</a>
      			<div class="w3-dropdown-content w3-white w3-card-4">
<!-- list meetings.  One html file per year -->
				<a href="meetings2016.html">2016</a>
				<a href="meetings2015.html">2015</a>
				<a href="meetings2014.html">2014</a>
				<a href="meetings2013.html">2013</a>
				<a href="meetings2012.html">2012</a>
				<a href="meetings2011.html">2011</a>
			</div>
		</li>

		<li class="w3-dropdown-hover">
			<a href="newTrips.html">New Trips</a> 
		</li>

		 <li class="w3-dropdown-hover">
      			<a href="#">Trip Reports</a>
      			<div class="w3-dropdown-content w3-white w3-card-4">
<!-- List trip reports.  Have to add manually.  This templact may not be current -->
  				<a href="2009StVincent.html">St. Vincent (2009)</a>
				<a href="2010WPB.html">West Palm Beach (2010)</a>
				<a href="2010CrystalRiver.html">Crystal River Manatees (2010)</a>
				<a href="2011TCI.html">Turcs and Caicos (2011)</a>
				<a href="2012Utila.html" id="current">Utila (2012)</a>
				<a href="2013Cozumel.html" id="current">Cozumel (2013)</a>
		      </div>
		 </li>		
		<li class="w3-dropdown-hover">
			<a href="#">Join Us</a> 
<! -- bylaws and membership application -->
			<div class="w3-dropdown-content w3-white w3-card-4">
        			<a href="bylaws.pdf">By Laws</a>
				<a href="memberapp.pdf">Open Membership Application as PDF replacing this window, use back arrow to return here </a>

      			</div>	
		</li>
	<li class="w3-dropdown-hover">
			<a href="">Links</a>
 			<div class="w3-dropdown-content w3-white w3-card-4">
<!-- Misc links.  Could drop in future -->
				<a href="diveShops.html">Dive Shops</a>
				<a href="diveSites.html">Dive Sites</a>
			</div>
		</li>
	</ul>
</div>



