!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Patowmack Divers</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/PatowmackDivers2/public_html/style.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="icon" 
      type="image/ico" 
      href="http://patowmackdivers.com/favicon.ico">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="http://www.w3schools.com/lib/w3data.js"></script>
</head>

<body>
<div w3-include-html="navsite.html"></div>
<div class="w3-row w3-border">
	<div class="w3-container w3-light-blue">
		<h1 class="w3-text-shadow w3-center">Local Dive Sites</h1>
		
	<div class="w3-container w3-light-blue">
		<h2>Freshwater</h2>
		<h3>General</h3>
		<ul>
		<li><a href="http://www.shorediving.com/Earth/index.htm">ShoreDiving.com</a></li>
	</ul>
		 <br />
		<h3>Pennsylvania</h3>
		<ul>
		<li><a href="https://www.facebook.com/BainBridge-Sportsmans-Club-148969411531/"> Bainbridge Sportsmen's Club, Bainbridge, PA</a></li>
		<li><a href="http://www.dutchsprings.com">Dutch Springs, Bethlehem, PA</a></li>
		<li><a href="http://www.guppygulch.com">Guppy Gulch, Delta, PA</a></li>
		<li><a href="http://www.willowspringspark.com">Willow Springs, Richland, PA</a></li>
		</ul>
		<br />

		<h3>Virginia</h3>
		<ul>
		<li><a href="http://www.lake-phoenix.com/"> Lake Phoenix, Rawlings, VA</a></li>
		<li><a href="http://www.coraledgeadventures.com/Millbrook_Quarry.html">Millford Quarry, Haymarket, VA</a></li>
		</ul>
		<br />

		<h3>West Virginia</h3>
		<ul>
		<li><a href="http://www.deepwater.org/asa/scuba/mt-storm.html">Mt. Storm - West Virginia</a></li>
		</ul>
	</div>
	<div class="w3-container w3-light-blue">
		<h2>Ocean</h2>

		<h3>Delaware - Maryland</h3>
		<ul>
		<li><a href="http://www.ocdiver.com/">OC Diver</a></li>
		</ul>
		<br />

		<h3>Virginia Beach</h3>
		<ul>
		<li><a href="http://www.ldcscuba.com/dive-trips/local-diving/">Listing at Lynnhaven Dive Center</a></li>
		</ul>
		<br />

		<h3>North Carolina</h3>
		<ul>
		<li><a href="http://www.olympusdiving.com/north-carolina-diving/">Wreck listing at Olympus Diving</a></li>
		<li><a href="http://www.nc-wreckdiving.com/">Wreck listing at BFDC</a></li>
		</ul>
	</div> 
</div> <!-- light-blue container -->
</div>  <!-- row border -->

<div w3-include-html="footer.html"></div>

<script>
w3IncludeHTML();
</script>

</body>
</html>

