<!DOCTYPE html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Patowmack Divers Home Page</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/PatowmackDivers2/public_html/style.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="icon"
      type="image/ico"
      href="http://patowmackdivers.com/favicon.ico">

<!-- using w3.css for extra style sheet and w3data.js for including navsite.html and footer.html -->

<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="http://www.w3schools.com/lib/w3data.js"></script>
</head>

<body>

<div w3-include-html="navsite.html"></div>

<div class="w3-row w3-border">
	<div class="w3-container w3-light-blue">
		<h1 class="w3-text-shadow w3-center"><!-- Title and author --></h1>
		<h3 class=w3-center"><!--Date--></h3>
                <!--
                Text with <p> to separate paragraphs 
                -->

        </div> <!-- light-blue container -->
</div>  <!-- row border -->


<div w3-include-html="footer.html"></div>

<script>
w3IncludeHTML();
</script>


</body>
</html>

